*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Arial';
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(FondBleu.jpg); /* image de fond */
    background-size: cover; /*couvre tout*/
}

.navbar{
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Pour que les elements de la nav bar soit alignés avec le logo*/
    width: 100%;
    box-sizing: border-box;
}

.navbar a{
    color: #c7bfe1;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold; /*mettre ASFC en + gros*/
}

.navbar .nav-links ul{
    display: flex; /*aligner les element du menu*/
}

.navbar .nav-links ul li{
    margin:0 20px; /* Espace entre les éléments du menu*/
}

.navbar .nav-links ul li.acceuil a{
    color: #37bfd1; /*pour mettre l'acceuile en plus large et avec une couleur mieux visible*/
    font-weight: 700;
}

.navbar .menu-burger{
    display: none;
    position: absolute;
    top: 30px;
    right: 40px;
    width: 35px; /*Réduire la taille du menu burger (lorsque l'ecran est trop petit*/
}

@media screen and (max-width: 900px){
    .navbar .menu-burger{
        display: block; /*met le menu burger quand on est sur tel*/
    }
    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.24);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%; /*Cacher menu avant le clic*/
        transition: all 0.5s ease; /*Transition*/
    }

    .nav-links.mobile-menu{
        margin-left: 0; /*met le menu au centre pour l'afficher (retire le margin)*/
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }
}